apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment

spec:
  replicas: 1
  selector:
    matchLabels:
      app: db

  template:
    metadata:
      labels:
        app: db

    spec:
      containers:
        - name: postgres
          image: postgres:15

          env:
            - name: POSTGRES_DB
              value: "testdb"
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "postgres"

          ports:
            - containerPort: 5432

          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: pgdata

      volumes:
        - name: pgdata
          persistentVolumeClaim:
            claimName: pgdata-claim
